parameters:
  level: 0
  excludePaths:
    - 'var/*'
    - 'vendor/*'
  doctrine:
    objectManagerLoader: tests/object-manager.php
    ormRepositoryClass: Eccube\Repository\AbstractRepository
#  errorFormat: json
#services:
#  errorFormatter.csv:
#    class: Eccube\Service\Command\CsvErrorFormatter
